.login_button {
	background-color: #009ace;
}
.nav>li>.login_button:hover {
	background-color: #00769e;
}

.register_button {
	background-color: #eb961e;
}
.nav>li>.register_button:hover {
	background-color: #c57a10;
}


.navbar_button_link {
	padding: 0;
}
.navbar_button_link > .btn {
	height: 100%;
	margin: 0;
}
.navbar-right {
	height: 100%;
}
.dropdown-menu > li >.navbar_button_link > .btn {
	width: 100%;
	padding-bottom: 8px;
	padding-top: 8px;
}
.dropdown-menu > .divider {
	margin: 0;
}
