<p *ngIf="!me.username" class="col-md-12 col-sm-12 col-xs-12 text-center chat_waiting_main">
	<svg width='82px' height='82px' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="uil-ring"><rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect><circle cx="50" cy="50" r="40" stroke-dasharray="163.36281798666926 87.9645943005142" stroke="#333333" fill="none" stroke-width="20"><animateTransform attributeName="transform" type="rotate" values="0 50 50;180 50 50;360 50 50;" keyTimes="0;0.5;1" dur="3s" repeatCount="indefinite" begin="0s"></animateTransform></circle></svg> <br />
	Chargement...
</p>

<div *ngIf="me.username" class="chat container-fluid" [style.height.px]="window_height - 45">
	<div class="row chat_top">haut</div>
	<div class="row chat_middle">
		<div class="chat_left col-md-8 col-sm-8 col-xs-7">
		<app-chatmessages [me]="me"></app-chatmessages>
		</div>
		<div class="chat_right col-md-4 col-sm-4 col-xs-5">
			<app-roomlist [me]="me"></app-roomlist>
		</div>
	</div>
	<div class="row chat_bottom">
		<app-chatform [me]="me"></app-chatform>
	</div>
</div>