<div class="col-md-12">
	<div class="table-responsive">
	  	<table class="table table-condensed table-hover">
	    	<tbody>
	    		<tr *ngFor="let room of rooms">
	    			<td>{{ room.label }}</td>
	    			<td class="text-right">
	    				<div class="btn-group" role="group" aria-label="...">
						  	<button type="button" class="btn btn-default btn-sm">
						  		<i class="fa fa-pencil"></i>
						  		Modifier
						  	</button>
						  	
						  	<button type="button" class="btn btn-default btn-sm">
						  		<i class="fa fa-trash"></i>
						  		Supprimer
						  	</button>
						</div>
	    			</td>
	    		</tr>
	    	</tbody>
	  	</table>
	</div>
</div>